.container{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.mobileSlider{
    display: none;
}


@media (max-width:480px) {
    .mobileSlider{
        display: block;
    }
    .container{
        display: none;
        align-items: stretch;
    }
}