.sliderController{
    display: flex;
    justify-content: right;
    margin-right: 13%;
}

.sliderBtnW{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.imgAuto {
    img {
        width: 100%;
        height: 100%;
    }
}

.btnImg2 {
    img {
        width: 18px;
        height: 23px;
    }
}

.btnImg {
    img {
        width: 18px;
        height: 23px;
    }
}