.Traid {
    position: relative;
}

.btnLeft {
    position: absolute;
    right: -1%;
    top: 49%;
    z-index: 2;
}

.btnRight {
    position: absolute;
    left: -1%;
    top: 49%;
    z-index: 2;
}


.bullet {
    display: block;
    width: 16px;
    height: 8px;
    border-radius: 16px;
    margin-left: 2%;
    background: var(--background, #EFE6E1);
    margin-top: -7%;
}

.bulletActive {
    display: block;
    background: var(--gold, linear-gradient(139deg, #A58038 0%, #FFCB7B 50%, #A58038 100%));
}


.swiperPagination {
    display: flex;
    justify-content: center;
}