.apart {
    background-image: url('/assets/background/background3.png');
    width: auto;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px 10px;
}

@media (max-width: 1024px) {
    .apart {
        height: 460px;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .apartaments{
        display: none;
    }
}