.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul li {
        margin: 20px;
    }

    .end a {
        margin-right: 20px;
    }
    .start {
        margin-top: 5px;
    }
}