.wraperc {
    margin: 15px auto;
    max-width: 1250px;
    min-width: auto;
}

@media (max-width: 1024px) {
    .wraperc {
        margin: 15px auto;
        max-width: 95%;
        min-width: auto;
    }
}