.AddresArrea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
    margin: 7% 0;
}

@media (max-width:480px) {
    .AddresArrea {
        grid-template-columns: 1fr 1fr;
    }
}