.inputConsultation {
  form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px
  }
  label {
    color: #9A9DA3;
  }
  button {
    padding: 8px 20px;
  
    width: 100%;
    height: 64px;
  
    /* White */

    background: #073535;
    border-radius: 12px;

  } 
}

.inputdiv {
  @apply  mb-6;
  width:100%;
  position: relative;
  z-index: 0;

  padding: 8px 20px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 12px;
}

@media (max-width:1024px) {
  .inputConsultation {
    form {
      flex-direction: column;
    }
  }
}