.btnGelery {
    position: absolute;
    right: 32px;
    bottom: 60px;
    button {
        background: none;
        width: 48px;
        height: 48px;
        background: #073535;
        padding: 10px 20px;
        border-radius: 100px;
        margin-left: 40px;
    }
}