.newsStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4% 0;
}

.whiteLine{
    height: 1px;
    background: #fff;
    margin:40px 0; 
}

.buttonsNews{
    @apply flex;
    gap: 10px;
}


@media (max-width:1024px) {
    .whiteLine{
        display: none;
    }
    .newsStyle {
        flex-direction: column;
        display: block;
        margin: 30px 0;
        button{
            margin: 20px 0;
        }
    }
}


@media (max-width: 480px) {
    .newsStyle{
        h1{
            font-size: 20px;
        }
    }
}