.background {
    width: 800px;
    height:  440px;
    left: 0px;
    top: 0px;

    background: url('/assets/background/background4.svg');
    
    background-repeat: no-repeat ;
    background-size: 800px;
    border-radius: 24px;
    padding: 346px 58px;
}