.titleConsultation {
  width: 39%;
  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
  }
  h1{
    line-height: 1;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.72);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
}

@media (max-width: 1024px) {
  .titleConsultation{
    width: 40%;
    h2{
      width: 70%;
    }
    P{
      width: 75%;
    }
  }
 
}