.footer {
    background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
    padding: 20px 0;
    margin-top: 7%;
    p {
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.72);
        margin-top: 50px;
    }
}



.content {
    display: flex;
    justify-content: space-between;

    li {
        margin-bottom: 10px;
    }

    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 24px;
    }
    a img {
        margin-right: 10px;
    }
}

.contentR {

    display: flex;
    justify-content: space-around;

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }


}

.linkTR {
    margin-left: 60px;

    ul {
        position: left;
    }

    a {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}


@media (max-width:480px) {
    .content{
        display: block;
        justify-content: left;
    }
    .contentR{
        margin-top: 5%;
        justify-content: start;
    }
}