.ourAd {
    h1 {
        margin: 5% 0 3% 0%;
    }
}

.data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 198px;
    gap: 24px;
}


@media (max-width:480px) {
    .data {
        grid-auto-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .ourAd {
        h1 {
            margin-bottom: 40px;
            font-size: 24px;
        }
    }
}