.btnCont {
  @apply flex gap-6 mb-[60px];

  button {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: auto;
    background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.32) 10.45%, rgba(255, 255, 255, 0.08) 88.73%);
    border-radius: 16px;
    font-weight: 600;
    font-size: 15px;
    /* identical to box height, or 160% */
    display: flex;
    /* White */
    color: #FFFFFF;
    /* Inside auto layout */
  }
}