.cardAll {
    background: #062A2A;
    margin-top: 5%;
    padding: 24px;
    border-radius: 24px;
    position: relative;
    min-height: 225px;
    max-height: 100%;
}

.colorText {
    h2 {
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    p {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.4px;
        color: rgba(255, 255, 255, 0.72);
        max-width: 328px;
        margin-top: 5px;

    }
}
.butnStyle {
    position: absolute;
    height: 100%;
    left: 85%;
    top: 77%;

    button {
        background: #FFFFFF;
        padding: 4px 9px;
        border-radius: 30px;
    }
}

@media (max-width:480px) {
    .cardAll{
        margin-top: 0;
    }
}