.cardAll {
    display: flex;
    flex-direction: column;
    padding: 28px;
    position: relative;
    gap: 18px;
    // max-width: 432px;
    // min-height: 256px;
    margin-top: 20px;
    /* Main 2 */
    background: #062A2A;
    border-radius: 24px;
    height: 45%;

    h2 {
        font-weight: 700;
        font-size: 19px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

   
}

.colorText{
    p {
        max-width: 328px;
        // height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.72);
    }

}

.butnStyle {
    position: absolute;
    bottom: 20px;
    right: 60px;
    top: 90px;

    button {
       margin-top: 60px;
        // width: 32px;
        // height: 32px;
        // left: 404px;
        // top: 196px;

        /* White */

        background: #FFFFFF;
    }
    button  img{
        margin-left: 15px;
    }
}