.coments {
    h1{
        margin-bottom: 3%;
    }
    p {
        width: 470px;
        color: var(--day-text-icons-text-02-inverse, rgba(255, 255, 255, 0.72));
        /* Body M */
        font-size: 15px;
        font-family: Montserrat;
        line-height: 24px;
        margin-top: 2%;

    }
    button{
        margin-top: 48px;
    }
}

@media (max-width:1024px) {
    .coments {
        h1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 1%;
        }

        p{
            width: auto;
        }
    }
}