.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ul li {
        margin: 20px;
    }

    .end a {
        margin-right: 20px;
    }
    .start {
        margin-top: 5px;
    }
}

.fixhead{
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    background-color: #073535;
    top: 0;
    margin-bottom: 40px;
}